:root {
	// Font Family
	--font-family: "DM Sans", sans-serif;
	--second-family: "Barlow", sans-serif;

	// Color Variables
	--colors-white: #fff;
	--colors-black: #000;
	--colors-red-300: #ffa896;
	--colors-red-500: #ec755d;
	--colors-blue-200: #bee4e8;
	--colors-blue-300: #88bfc5;
	--colors-brown-400: #92857a;
	--colors-brown-950: #382314;
	--colors-red-100: #f9ece2;
}