.link {
	display: inline-block;
	padding: 14rem 32rem;
	background: var(--colors-red-500);
	color: var(--colors-white);
	font-family: var(--font-family);
	font-size: 18rem;
	font-weight: 600;
	border-radius: 10rem;
	text-decoration: none;
	transition: background 0.2s;

	&:hover, &:focus {
		background: var(--colors-red-600, #a94442);
	}
}